@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2%;
    background-color: rgb(135, 30, 30);
}

.notificationicon{
    color: #fff;
    height: 20px;
    margin-right: 1rem;
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
}

.header h3 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
}


.usericon{
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
}