*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: rgb(52, 4, 4); 

}

::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3; 
}